/* Avatar styling */
.author__avatar {
  width: 300px;           /* size of the avatar */
  height: 300px;
  border-radius: 50%;     /* makes it circular */
  opacity: 1 !important;  /* fully bright */
  pointer-events: none;   /* prevents click */
}

/* Remove hover effects */
.author__avatar:hover {
  opacity: 1 !important;
}
/* 
Adjust spacing under bio */
.author__bio {
  margin-bottom: 0.3em;
}

/* /* Change sidebar width */
.sidebar {
  max-width: 300px;
} */
