---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Avatar styling */
.author__avatar {
  width: 1000px;           /* size of the avatar */
  height: 1000px;
  border-radius: 50%;     /* makes it circular */
  opacity: 1 !important;  /* fully bright */
  pointer-events: none;   /* prevents click */
}

.sidebar,
.author__name,
.author__bio {
  opacity: 1 !important;
}

/* Prevent hover effects from changing opacity */
.sidebar:hover,
.author__avatar:hover,
.author__content:hover {
  opacity: 1 !important;
}

/* 
Adjust spacing under bio */
.author__bio {
  margin-bottom: 0.3em;
}

/* Change sidebar width */
.sidebar {
  max-width: 500px;
}
